TikTakToe.wsdl

<?xml version="1.0"?>
<!--
Esta era una primera version de l wsdl. 
string realizarTurno(idJugador, x, y)(edited)
bool determinarGanador()

string realizarTurno(idJugador, x, y)
bool determinarGanador()
-->

<!-- Descripción WSDL de la clase Hola Mundo. -->

<definitions name="TikTakToe"
             targetNamespace="urn:TikTakToe"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn:TikTakToe"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  
  
  <!-- Tipos complejos -->
  <!--No se necesitan tipos commplejos de momento.-->
  
  
  <!-- Mensajes para comunicarse con la clase HolaMundo. -->
  
  <message name="">
    <part name="" type="xsd:" />
  </message>
  
  <message name="realizarTurnoIN">
    <part name="coordenadaX" type="xsd:int"/>
    <part name="coordenadaY" type="xsd:int"/>
    <part name="caracter" type="xsd:string"/>
  </message>
  
  <message name="realizarTurnoOUT">
    <part name="return" type="xsd:string"/>
  </message>
  
  
  <!--Puerto para comunicar con la clase tiktaktoe-->
   
	<portType name="TikTakToePort">
		<operation name="turno">
			<documentation>TikTakToe::turno() permite realizar una jugada en el tablero</documentation>
			<input message="tns:realizarTurnoIN"/>
			<output message="tns:realizarTurnoOUT"/>		
    </operation>
	</portType>
  
  <message name="guardarTiempoIn">
		<part name="nombre" type="xsd:string"/>
		<part name="tiempo" type="xsd:string"/> 
	</message>

	<message name="guardarTiempoOut" />
  
  
  
  
	<!-- Vinculación de los llamados con el transporte - RPC, SOAP/Encoded over HTTP -->

	<binding name="TikTakToeBinding" type="tns:TikTakToePort">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<operation name="turno">
			<soap:operation soapAction="urn:TikTakToe#TikTakToe#turno"/>
			<input>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:TikTakToe"/>
			</input>
			<output>
				<soap:body use="encoded"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						   namespace="urn:TikTakToe"/>
			</output>
		</operation>
    
	</binding>

	<!-- Punto de comunicación con la clase HolaMundo -->

	<service name="TikTakToeService">
		<port name="TikTakToePort" binding="tns:TikTakToeBinding">
			<soap:address location="http://titanic.ecci.ucr.ac.cr/~bsolano/HolaMundoServiceRPCEncoded/"/>
		</port>
	</service>
</definitions>
